@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#game-start-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title,
.prompt {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Audiowide", cursive;
}

.name {
  font-size: 4rem;
  color: orangered;
  font-family: "Orbitron", sans-serif;
}

#player-name-input {
  width: 90%;
  height: 40px;
  border-radius: 12px;
  padding: 10px;
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  align-self: center;
}

#kick-alien-butt-btn,
#start-game-btn,
#attack-btn {
  margin-top: 30px;
  width: 30%;
  padding: 25px;
  border: 10px double red;
  background-color: yellowgreen;
  border-radius: 15px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  align-self: center;
}

#kick-alien-butt-btn:hover,
#start-game-btn:hover,
#attack-btn:hover {
  background-color: red;
  border: 10px outset yellowgreen;
}

#attack-btn {
  margin-top: 0;
}

#meet-player-prompt {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 500px;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 3px solid black;
  box-shadow: 10px 10px 25px rgba(255, 69, 0, 1);
}

.prompt {
  font-size: 2rem;
  text-align: center;
}

.attack-begins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 75%;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 3px solid black;
  box-shadow: 10px 10px 25px rgba(255, 69, 0, 1);
}
